/*侧边栏头部*/
.aside-title{
    height: 34px;
    margin-bottom: 20px;
}

.aside-title h3{
    font-size: 24px;
    color:#cedae0;
    float: left;
    font-weight: 300;
}
.aside-title span{
    font-size: 16px;
    color:#fcfefe;
    float: right;
    cursor: pointer;
}

/*大分类*/
.main-class-item{
    font-size: 16px;
    margin-top: 10px;
}
.main-class-item h4{
    height: 30px;
    font-weight: 300;
}
.main-class-item h4 p{
    font-size: 16px;
    color:#f9fdf5;
    float: left;
    margin-left: 18px;
}
/*选择框*/
.main-class-item div input,
.main-class-item h4 input{
    border-radius: 4px;
    float: left;
    border: 2px solid #ddd;
    background-color: rgba(0,0,0,0);
    appearance:none;
    width:16px;
    height: 16px;
    cursor: pointer;
}
.main-class-item h4 span{
    font-size: 16px;
    color:#f9fdf5;
    float: right;
    background-color:#4a6a78 ;
    padding: 2px 10px;
    border-radius: 20px;
}

/*子项*/
.sub-list{
    margin-left:35px;
    margin-top: 5px;
}
.sub-list div {
    height: 30px;
}
.main-class-item div p{
    font-size: 16px;
    color:#bdd0d2;
    float: left;
    margin-left: 18px;
}
.main-class-item div span{
    font-size: 16px;
    color:#a6b8bd;
    float: right;
}
.open{
    height: 150px;
    overflow: hidden;
    transition: height 0.5s;
}
.close{
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}
.btn-close,
.btn-open{
    display: inline-block;
    background: url("../../assets/icon.png");
    width: 20px;
    height: 10px;
    margin-left: 10px;
    transition: transform 0.5s;
}
.btn-close{
    transform:rotate(0deg);
}
.btn-open{
    transform:rotate(180deg);
}